<h1>My To Do List</h1>
<!-- <span>Sort by:</span>
<select>
  <option>A-Z</option>
  <option>Z-A</option>
</select> -->
<button (click)="sortByAtoZ()">Sort A-Z</button>
<button (click)="sortByZtoA()">Sort Z-A</button>
<button (click)="sortByPriority()">Sort by priority</button>
<button (click)="sortByDone()">Sort by completed tasks</button>
<ul class="todo_list">
  @for (task of tasks; track task.id) {
    <div class="container">
        <app-task-list [task]="task" (removeEvent)="removeTask($event)"></app-task-list>
    </div>
  }
</ul>
<app-add-task (addEvent)="addTask($event)"></app-add-task>